:root {
  --black: black;
  --white: #f2f2f2;
  --navbarBlue: #01677E;
  --navbarShadow: #8471712b;
  --lightblue: #74CED7;
  --linkedinBlue: #287bbc;
  --githubBlack: #211F1F;
  --mailRed: #d14836;
  --twitterBlue: #00acee;
  --lightSandal: rgb(230, 230, 220);
  --lightGray: rgb(145, 145, 145);
}

#contactme {
  padding: 125px 0px;
  display: flex;
  justify-content: center;
  background-image: url('../../images/footer-bag.jpg');
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navbarBlue);
  opacity: 0.6;
}

#contactme .text-section {
  width: 80%;
  margin: auto;
  /* margin-right: 30px; */
  z-index: 2;
  background-color: #fff;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
  border-radius: 2px;
}

.text-sub-section p {
  margin-top: 12px;
}

.text-subsection-icon span {
  position: relative;
  left: -17px;
}

#contactme h2 {
  font-size: 5rem;
  letter-spacing: 1rem;
  text-align: left;
}

.contact-me-desc {
  margin-top: 25px;
  text-align: left;
}

#contactme h3 {
  margin-top: 30px;
  margin-bottom: 5px;
}

#contactme .form-section {
  width: 30%;
  text-transform: uppercase;
}

.form-section form {
  height: 80%;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  margin: 60px auto 0px auto;
  color: rgb(171, 171, 171);
}

.first-name-div,
.email-div,
.textarea-div {
  border: 2px solid var(--black);
}

.error {
  border: 2px solid var(--mailRed);
  color: var(--mailRed);
}

.form-section input {
  width: 95%;
  background-color: var(--lightSandal);;
  height: 25px;
  padding: 3px 3px 3px 12px;
  border: none;
  outline: none;
  overflow: hidden;
}

.form-section textarea {
  width: 95%;
  background-color: var(--lightSandal);;
  height: 100px;
  padding: 10px 3px 3px 12px;
  border-width: 1px;
  outline: none;
  border: none;
  resize: none;
}

/* .form-section input:-webkit-autofill,
.form-section input:-webkit-autofill:hover, 
.form-section input:-webkit-autofill:focus,
.form-section textarea:-webkit-autofill,
.form-section textarea:-webkit-autofill:hover,
.form-section textarea:-webkit-autofill:focus {
  background-color: var(--lightSandal) !important;
} */

.submit-button {
  width: 100px !important;
  height: 30px;
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--lightGray);
  cursor: pointer;
}

.submit-button:disabled {
  background: var(--lightSandal);
  color: var(--black);
}

@media only screen and (max-width: 850px) {
  #contactme {
    flex-flow: column;
    align-items: center;
  }

  #contactme h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }

  #contactme .text-section {
    width: 95%;
    margin: 0;
    margin-right: 0px;
    font-size: 0.8rem;
    padding: 30px;
  }

  #contactme .form-section {
    width: 80%;
  }
  
  .text-sub-section {
    flex-flow: column;
  }

  .contact-me-desc {
    margin-top: 25px;
    text-align: left;
  }
  #contactme h3 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .form-section form {
    margin-top: 30px;
  }

  .first-name-div,
  .email-div,
  .textarea-div {
    margin-bottom: 20px;
  }

  .submit-div {
    display: block;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 820px) 
and (max-width: 1100px) {
  #contactme h2 {
    font-size: 4rem;
    letter-spacing: 0.8rem;
  }

  .form-section {
    width: 35%;
  }

  .contact-me-desc {
    margin-top: 20px;
  }

  #contactme h3 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .text-sub-section {
    justify-content: space-between;
  }
}