@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display&display=swap');

body {
    font-family: 'PT Serif', serif;
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
    --black: black;
    --white: #f2f2f2;
    --navbarBlue: #01677E;
    --navbarShadow: #8471712b;
    --lightblue: #74CED7;
    --linkedinBlue: #287bbc;
    --githubBlack: #211F1F;
    --mailRed: #d14836;
    --twitterBlue: #00acee;
    --lightSandal: rgb(230, 230, 220);
    --lightGray: rgb(145, 145, 145);
}

header {
    background-image: url('images/bg-main.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
}

.nav-bar {
  background-color: var(--navbarBlue);
  height: 80px;
  position: fixed;
  width: 100vw;
  box-shadow: 0 15px 10px -15px var(--gfg-head-shadow);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  /* align-self: flex-start; */
  font-size: 2.5rem;
  color: var(--white);
  text-decoration: none;
  letter-spacing: 5px;
}


.nav-bar-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
}

.nav-bar li {
    margin:  0 15px;
}

.nav-bar ul a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--white);
    padding: 10px 0px;
    display: block;
}

.nav-bar ul a:hover,
.navitem-selected {
    border-bottom: 1px solid var(--white);
}

.main {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.main-title {
    margin: 0;
    color: var(--white); 
    font-size: 4rem;
    margin-bottom: 20px;
}

.main-desc {
    color: var(--white); 
    font-size: 2rem;
    height: 80px;
    margin-bottom: 30px;
}

.main-button {
    text-decoration: none;
    color: var(--white);
    padding: 8px 10px;
    border: 1px solid var(--white);
    display: block;
    width: 20%;
    max-width: 85%;
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.main-button:hover {
    background-color: var(--white);
    color: var(--lightblue);
}

@media only screen and (max-width: 768px) {

  .main-title {
    margin-top: 50px;
  }

  .main-title {
    font-size: 3rem;
  }

  .main-desc {
    font-size: 1.5rem;
  }

  .main-button {
    width: 90%;
    font-size: 1rem;
  }
  
  .nav-bar-list {
    position: absolute;
    flex-direction: column;
    height: 0vh;
    top: 80px;
    justify-content: space-around;
    background-color: var(--navbarBlue);
    width: 100vw;
    right: 0px;
    align-items: flex-start;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }

  .nav-bar-list-active {
    height: 30vh;
    overflow: visible;
    transition: height 0.3s ease-out;
  }

  .nav-bar li {
    margin:  0 50px;
  }

  .nav-bar {
    width: 100vw;
    justify-content: flex-start;
    padding: 0px 50px;
    box-sizing: border-box;
    font-size: 1rem;
  }

  .hamburger-icon {
    display: block;
    font-size: 1.5rem;
    color: var(--white);
    margin-left: auto;
  }
}


@media only screen 
and (min-width: 601px) 
and (max-width: 1023px) {
  .main-button {
    width: 30%;
    font-size: 1.1rem;
  }
}

/* Common Section */
.social-media {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.linkedin-icon {
  color: var(--linkedinBlue);
}

.github-icon {
  color: var(--githubBlack);
}

.mailto-icon {
  color: var(--mailRed);
}

.twitter-icon {
  color: var(--twitterBlue);
}
/* About me section */
#aboutme {
  padding: 120px 0px;
}

.aboutme-container {
  display: flex;
  font-size: 1.2rem;
  width: 70%;
  margin: auto;
  line-height: 1.8rem;
  background-color: var(--white);
  padding: 70px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
}

#aboutme h2 {
  margin: 0px; 
  margin-bottom: 20px;
}

/* Photo card */
.photo-card {
  width: 33.33%;
  margin-right: 50px;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.photo-card img {
  border-radius: 50%;
  display: block;
  margin: 0px auto 20px auto;
}

@media only screen and (max-width: 768px) {
  /* About me section */
  #aboutme {
    padding: 30px 20px;
  }

  .aboutme-container {
    flex-flow: column;
    font-size: 1rem;
    padding: 20px;
    width: 85%;
  }
  /* Photo card */
  .photo-card {
    width: 100%;
    margin-right: 0px;
  }
  .photo-card img {
    margin: 30px auto 20px auto;
    height: 200px;
  }

  /* aboutme text section */
  #aboutme .text-section {
    margin-top: 30px;
  }

  #aboutme h2 {
    text-align: center;
  }

  #aboutme p {
    text-align: justify;
  }
}